/* Generell Styling Start */

* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: rgb(241, 241, 241);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
}

/* Generell Styling End */

/* navigerings bar */
.nav-container {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    z-index: 1;
    margin-top: 10px;
    top: 0;
    right: 0;
}

.mobile-link {
    width: 40px;
    height: 6px;
    background-color: rgb(239, 255, 13);
    margin: 6px 0;
    transition: 0.4s;
    margin-left: 15px;
}

/* För telefon */
@media screen and (max-width: 800px) {
    .link-wrapper {
        display: none;
    }

    .nav-container {
        padding: 10px;
    }
    .nav-container a {
        cursor: pointer;
        text-decoration: none;
        font-size: 15px;
    }
    .menu-btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        cursor: pointer;
    }
    .menu-btn-burger {
        width: 40px;
        height: 4px;
        background-color: rgb(255, 255, 255);
        transition: 0.5s;
    }
    .menu-btn-burger::before,
    .menu-btn-burger::after {
        content: "";
        position: absolute;
        width: 40px;
        height: 4px;
        background-color: rgb(255, 255, 255);
        transition: 0.5s;
    }

    .menu-btn-burger::before {
        transform: translateY(-10px);
    }

    .menu-btn-burger::after {
        transform: translateY(10px);
    }
    .menu-btn.open .menu-btn-burger {
        transform: rotate(180deg);
        background-color: transparent;
    }
    .menu-btn.open .menu-btn-burger::before {
        transform: rotate(45deg);
    }
    .menu-btn.open .menu-btn-burger::after {
        transform: rotate(-45deg);
    }
    .mobile-menu {
        height: calc(100vh - 80px);
        width: 100%;
        background-color: rgb(255, 255, 255);
        position: fixed;
        right: -100%;
        margin-top: 80px;
        z-index: 999;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
    }
    .mobile-link-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .mobile-link {
        margin: 10px;
        font-size: 25px;
    }
}

/*nav dator*/

.link-wrapper a {
    margin: 10px 40px;
    font-size: 25px;
    text-decoration: none;
    color: white;
    margin: 10px 30px;
    border: white 1px solid;
    border-radius: 7px;
    padding: 5px;
    transition-duration: 0.5s;
}
.link-wrapper :hover {
    color: black;
    background-color: white;
}

/* navigerings bar end */

/*header  */
#index-image img {
    background-image: url(../img/image00001.jpeg);
    background-position-y: -93px;
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    position: relative;
}

@media screen and (max-width: 800px) {
    #index-image img {
        background-image: url(../img/image00001.jpeg);
        background-position-y: -40px;
        width: 100%;
        height: 15vh;
        background-size: cover;
        background-repeat: no-repeat;
        object-fit: cover;
        position: relative;
    }
}

/*information */
.information-headline {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

.information-section {
    padding: 10px 25%;
    background-color: #e2e2e2;
}
.information-section,
p {
    text-align: center;
    font-size: 24px;
}
/*header end*/

/* card section */
.card-section {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
    background-color: #585858;
}

.wrapper {
    padding: 2rem 2em;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px 30px;
}
.container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    background-color: aliceblue;
    transform-style: preserve-3d;
    min-height: 80vh;
    width: 35rem;
    border-radius: 30px;
    padding: 0rem 5rem;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 1), 0px 0px 50px rgba(0, 0, 0, 1);
}

.profile {
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile img {
    width: 10rem;
    z-index: 2;
    transition: all 0.75s ease-out;
}

.info h1 {
    font-size: 3rem;
    transition: all 0.75s ease-out;
    text-align: center;
}
.info h3 {
    font-size: 1.3rem;
    padding: 2rem 0rem;
    color: #585858;
    font-weight: lighter;
    transition: all 0.75s ease-out;
    text-align: center;
}

.get-to-know-me {
    transition: all 0.75s ease-out;
    margin-bottom: 5rem;
}
.get-to-know-me button {
    width: 100%;
    padding: 1rem 0rem;
    background: #eeff00;
    border: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 30px;
    font-weight: bolder;
}

/* pop up servid card modal*/
#card-modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
}
.card-modal {
    width: 50%;
    height: 50vh;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}
/* end card*/

/* Galeri Start */

header {
    /* using same base kod // nelly*/
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
    padding: 15px;
}

.link-wrapper-galeri {
    position: relative;
}

header h1 {
    margin: 0;
}

#logo {
    position: fixed;
    height: 60px;
    left: 10px;
    z-index: 0;
}

.info-section {
    background-color: #a4a4a4;
    margin: 5px 10px;
    text-align: center;
    padding: 15px;
    color: black;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
        5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
        5px 5px 15px 5px rgba(0, 0, 0, 0);
    border-radius: 5px;
}

.galeri-section {
    background-color: #3e3e3e;
    margin: 5px;
    padding: 30px 10px;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
        5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
        5px 5px 15px 5px rgba(0, 0, 0, 0);
    border-radius: 5px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.galeri-section img {
    object-fit: cover;
    width: 90px;
    height: 70px;
    margin: 10px;
}

footer {
    background-color: #ffff00;
    padding: 20px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}
footer i {
    margin: 0 50px;
    transform: scale(2.5);
}
/*Display none on Card and burger manu to make room for deskop versen */
@media screen and (min-width: 800px) {
    .mobile-logo,
    .menu-btn,
    .mobile-menu,
    .flip-card {
        display: none;
    }
}
/* end changes on mobile */
@media screen and (min-width: 500px) {
    #logo {
        height: 90px;
    }

    .info-section {
        margin: 10px 20vw;
    }

    .galeri-section {
        margin: 10px 20px;

        display: grid;
        grid-template-columns: 20% 12% 16% 12% 20%;
        grid-gap: 30px;
    }
    .galeri-section img {
        margin: 20px;
        width: 100%;
        height: fit-content;
        align-self: center;
    }
}

/* Modal Start */

#modal-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.modal-container {
    background-color: rgb(248, 248, 248);
    border-radius: 7px;
    width: 90vw;
    height: 85vh;
    opacity: 1;
    z-index: 3;
}

.modal-header {
    display: flex;
    justify-content: flex-end;
    color: red;
    border-bottom: 1px solid black;
    padding: 0 5px 0 0;
}

.modal-header i {
    cursor: pointer;
}

#modal-content {
    display: flex;
}

#modal-content img {
    height: 80%;
    max-height: 80vh;
    width: 100%;
    object-fit: contain;
    cursor: pointer;
}

#prev-btn,
#next-btn {
    position: absolute;
    background-color: yellow;
    top: 50%;
    cursor: pointer;
    padding: 5px;
    color: red;
    transform: scale(1.4, 1.4);
}
#prev-btn :hover,
#next-btn :hover {
    background-color: red;
    color: yellow;
    transition-duration: 0.5s;
}
#prev-btn {
    left: 5.5%;
}

#next-btn {
    right: 5.5%;
}

/* Modal End */

/* Galeri End */
